@charset "UTF-8";


// Header Menu
header menu > li ul:after{
  //.triangle();
}
header menu > li ul{
  border:solid 1px #CCC;
  border-bottom:none;
  .shadow(0 1px 5px rgba(0,0,0,.3));
  .rounded(6px);
}
header menu > li > ul  a{
  background:#333;
  color:#FFF;
  border-bottom:solid 1px #DDD;
}
header menu > li ul li:first-child a{.rounded(6px 6px 0 0);}
header menu > li ul li:last-child a{.rounded(0 0 6px 6px);}



