@charset "UTF-8";
//Predefined
.variant1,.variant2,
.variant3,.variant4,
.variant5,.variant6{}
//IMPORTS ********************************/
@import "reset";
@import "functions";
@import "grid";
@import "flavors/light";

//BASICS *********************************/

.title1{font-size:45px;line-height:45px;padding: 15px 20px;}
.title2{font-size:30px;line-height:30px;padding: 15px 20px;}
.title3{font-size:24px;line-height:24px;padding: 15px 20px;}
.title4{font-size:18px;line-height:18px;padding: 10px 20px;}
.title5{font-size:15px;line-height:15px;padding: 5px 20px;font-weight:bold;}
.title6{font-size:13px;line-height:13px;padding: 5px 20px;font-weight:bold;}



.box{display:block;margin-bottom:15px;}
