@charset "UTF-8";
/* Clearfix */
.clearfix:before,.clearfix:after{ content: ""; display: table; }
.clearfix:after,.row:after{ clear: both;}
.clearfix{ zoom: 1;}

/* Grid *******************************************/
.wrap{
  max-width:1200px;
  margin:0 auto;
}

/* Box*/
.box{
  padding:0 0 20px;
  margin-bottom:20px;
  border:solid 1px #EEE;
}
/* Float */
.float{
}


